#loader {
  display: none;
  text-align: center;
  margin-top: 50px;
}

form {
  text-align: center;
  width: 400px;
  margin: auto;
}

form .error {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.5);
  padding: 5px;
  display: none;
}

form table {
  margin-top: 10px;
  margin-bottom: 10px;
}

form input[type="submit"] {
  cursor: pointer;
}

form td {
  text-align: left;
}

form td:first-child {
  text-align: right;
}

.help {
  font-size: 10px;
  text-align: center;
}

form .help {
  text-align: left;
}

#simulate_one, #simulate_all {
  display: none;
  margin-top: 50px;
}

#agent {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 50px;
}

#agent th, #agent td {
  padding: 5px;
  text-align: center;
}

.chart_container {
  width: 800px;
  margin: auto;
}

canvas {
  margin-bottom: 30px;
}

#breed_predictions {
  text-align: center;
}

#grids, #grids_legend {
  text-align: center;
  margin: 5px 0;
}

#grids table, #grids_legend table {
  border-collapse: collapse;
  margin: auto;
}

#grids td {
  padding: 2px;
}

#grids td.C, #grids_legend td.C {
  background: red;
}

#grids td.NC, #grids_legend td.NC {
  background: blue;
}

#grids_legend td {
  font-size: 10px;
}

#grids_legend td.C, #grids_legend td.NC {
  padding: 0 7px;
}

#grids_legend .tools {
  margin: 10px 0;
}

#grids_legend .tools button {
  cursor: pointer;
}
