{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
<form method="GET" action="" id="simulate_one_form">
  <div class="errors"></div>
  <label for="agent_id">Agent id:</label>
  <input type="text" name="agent_id" required="required" />
  <br />
  <label for="brand_factor">Brand factor:</label>
  <input type="number" name="brand_factor" required="required" min="{{ min_brand_factor }}" max="{{ max_brand_factor }}" step="0.1" value="{{ min_brand_factor }}" />
  <br />
  <input type="submit" value="Simulate" />
</form>

<div id="simulate_one">
  <table id="agent" border="1">
    <tr>
      <th>Id</th>
      <th>Age</th>
      <th>Social grade</th>
      <th>Payment at purchase</th>
      <th>Attribute brand</th>
      <th>Attribute price</th>
      <th>Attribute promotion</th>
      <th>Auto renew</th>
      <th>Inertia for switch</th>
    </tr>
    <tr>
      <td name="id"></td>
      <td name="age"></td>
      <td name="social_grade"></td>
      <td name="payment_at_purchase"></td>
      <td name="attribute_brand"></td>
      <td name="attribute_price"></td>
      <td name="attribute_promotions"></td>
      <td name="auto_renew"></td>
      <td name="inertia_for_switch"></td>
    </tr>
  </table>
  
  <div class="chart_container">
    <canvas id="one_agent_chart" width="600" height="200"></canvas>
  </div>
</div>
{% endblock %}
